Bonjour, nous somme le : {{main.date | date: 'dd/MM/yyyy'}}<br/>
<input type="text" ng-model="main.name"/>


<span ng-if="main.name">
  <br/><br/>
Coucou {{ main.name }} !
</span>
<br/>
<br/>
<button ng-click="main.clearInput()">Clear</button>
<br/>
<br/>
<span>
<div class="arrayLine"
      ng-class="{'licorne': $even}"
      ng-repeat="element in main.array | orderBy track by $index">
  <!-- $odd, $even true/false si pair / impair-->
  <!-- $index, $first, $last -->
  {{element}} <span ng-if="!$last">,</div>
</div>
</span>
